# global settings
global
    log stdout format raw local0
    maxconn 2000

# default settings
defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# haproxy web dashboar (browser)
frontend haproxy_stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 2s
    stats show-legends
    stats hide-version
    stats auth admin:1234 # username: admin | password : 1234

# postgres single endpoint
frontend postgresql
    bind *:5432
    default_backend postgresql_primary

# frontend pg_write
#     bind *:5432
#     default_backend pg_primary
# backend -> always primary via patroni
backend postgresql_primary
    mode tcp
    # patroni rest health-check
    # /master -> 200 on primary , 503 on replica
    option httpchk GET /primary
    http-check expect status 200

    # health-check tuning
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    # postgresql nodes(docker services names)
    server node1 node1:5432 maxconn 100 check port 8008
    server node2 node2:5432 maxconn 100 check port 8008
    server node3 node3:5432 maxconn 100 check port 8008
